@tailwind base;
@tailwind components;
@tailwind utilities;


.animate-pulse-opacity {
    animation: opacityPulse 2000ms cubic-bezier(0.4, 0, 0.6, 1) 1;
  }

  @keyframes opacityPulse {
    0% {
      opacity: .3;
    }
    10% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }


  .animate-pulse-translate	{
    animation: opacityTranslate 100ms cubic-bezier(0.4, 0, 0.6, 1) 1ms 15;
  }

  @keyframes opacityTranslate {
    25% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
  } 

  .animate-pulse-scale	{
    animation: scaleTranslate 2000ms cubic-bezier(0.4, 0, 0.6, 1) 1ms infinite;
  }

  @keyframes scaleTranslate {
    50% {
      transform: scale(1.5);
    }
    75% {
      transform: translateX(0.9);
    }
  } 

  .animate-pulse-rotate	{
    animation: rotateTranslate 100ms cubic-bezier(0.4, 0, 0.6, 1) 1ms 4;
  }

  @keyframes rotateTranslate {
    30% {
      transform: rotate(5deg);
    }
    60% {
      transform: rotate(-5deg);
    }
  } 